html, body {
    margin: 0;
    padding: 0;
}

.pic-ctn {
    width: 50%;
    height: 200px;
}

@keyframes display {
    0% {
        transform: translateX(200px);
        opacity: 0;
    }
    10% {
        transform: translateX(0);
        opacity: 1;
    }
    20% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

.pic-ctn {
    position: relative;
    width: 50%;
    height: 300px;
    margin-top: 10vh;
    margin-bottom: 20vh;
}

.pic-ctn > img {
    position: absolute;
    top: 0;
    border-radius: 20px;
    width: 18rem;
    right: 3rem;
    opacity: 0;
    animation: display 10s infinite;
}

img:nth-child(2) {
    animation-delay: 2s;
}
img:nth-child(3) {
    animation-delay: 4s;
}
img:nth-child(4) {
    animation-delay: 6s;
}
img:nth-child(5) {
    animation-delay: 8s;
}

.content {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}


.title1 {
    color: black;
    padding-right: 6px;
    font-size: 3rem;
}

.title2 {
    color: orangered;
    padding-right: 6px;
    font-size: 3rem;
}

.botton {
    background-color: white;
    color: orangered;
    font-size: large;
    border-radius: 50px;
    border: orangered solid 1px;
}

.botton:hover {
    color: white;
    border: white solid 1px;
    background-color: orangered;
}

